<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ecommerce Test Suite">

    <listeners>
        <listener class-name="com.Krce.listeners.TestListener"/>
    </listeners>

    <test name="Smoke and Login Tests">
        <classes>
            <class name="com.Krce.tests.SmokeTest"/>
            <class name="com.Krce.tests.LoginTest"/>
        </classes>
    </test>

</suite>